*{
    margin: 0;
    
    
}
.App{
    background-color:#F4F5F7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.leg-top{
    display:flex ;
    gap: 10px;
    align-items: center;
}



.leg-btn{
    border:1px solid grey ;
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
    border: none;
  
}

.style{
    background-color: rgb(80, 80, 161); 
    color: white;
    border: none;
    border-right:none;
    /* border-radius:10px 0px 0px 10px; */
    padding: 5px 10px;
    cursor: pointer;
}
.left{
    border-right:none;
    border-radius:10px 0px 0px 10px;
   
}
.right{
    border-radius:0px 10px 10px 0 ;
}

.leg-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
 
}

.form-inputs{
    display: flex;
    gap: 20px;
    align-items: center;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-wrapper > input{
    background-color: #fff;
    width: 50px;
    border-radius: 20px;
    border: none;
    padding: 5px 15px;

}

select{
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 7px;
    border: none;
  
}
p, label{
    font-weight: 600;
}

.form-btn{
    display: flex;
    gap: 20px;
}

.form-btn >button{
    border-radius: 20px;
    background-color: #fff;
    padding: 5px 40px;
    border: none;
    cursor: pointer;
    color:rgb(80, 80, 161) ;
}

.add-leg{
    background-color: rgb(80, 80, 161) !important;
    color: white !important;
}
.straddle-width-input{
    background-color: #fff;
    width: 50px;
    border-radius: 20px;
    border: none;
    padding: 5px 15px;
}